.menu {
    display: flex;
    justify-content: center; /* Centra l'icona orizzontalmente */
    align-items: center; /* Centra l'icona verticalmente */
}


.burger {
    text-decoration: none;  /* Rimuove la sottolineatura */
}

.search-container{
    display: none;
}

.burger img {
  width: 2.3em; /* Imposta la larghezza dell'immagine a 32px (o qualsiasi valore desiderato) */
  height: auto; /* Mantiene le proporzioni dell'immagine */
  margin-top: 0em; /* Sposta il bottone di ricerca verso l'alto */
  cursor: pointer; 
}

.exit img {
    width: 1.3em; /* Imposta la larghezza dell'immagine a 32px (o qualsiasi valore desiderato) */
    height: auto;
    margin-left: -2em;
    cursor: pointer; 
}

.exit {
    position: absolute;
    top: 10px;  /* Distanza dalla parte superiore del nav */
    text-decoration: none;  /* Rimuove la sottolineatura dal link */
}

.menu-box {
    padding: 10px 20px;  /* Padding per fare il riquadro abbastanza grande */
    color: var(--bgcolor);    /* Colore del testo bianco */
    font-size: 1.2em;  /* Dimensione del font */
    font-weight: bold;  /* Rendere il testo più spesso */
    text-align: center;  /* Allinea il testo al centro */
    cursor: pointer;  /* Cambia il cursore quando si passa sopra il riquadro */
        height: 30%;  /* Riduci l'altezza del menu (a 30% dello schermo) */

}



/* Assicurati che il link a non abbia sottolineatura */
.burger:focus,
.burger:hover {
    text-decoration: none;  /* Rimuove la sottolineatura anche al passaggio del mouse o al focus */
}


.menu-box2 {
    padding: 10px 20px;  /* Padding per fare il riquadro abbastanza grande */
    color: white;  /* Colore del testo bianco */
    font-size: 2em;  /* Dimensione del font */
    text-align: center;  /* Allinea il testo al centro */
    cursor: pointer;  /* Cambia il cursore quando si passa sopra il riquadro */
        height: 30%;  /* Riduci l'altezza del menu (a 30% dello schermo) */
}


/* Stile per la barra del menu */
.nav-menu, .nascondi {
    background-color: #333;  /* Colore di sfondo per il menu */
}

/* Aggiungi Flexbox per centrare le voci del menu */
.barraCentrale {
    display: flex;
    flex-direction: column;  /* Dispone gli elementi in colonna */
    align-items: center;  /* Centra gli elementi orizzontalmente */
    justify-content: center;  /* Centra gli elementi verticalmente */
    padding: 0;
    margin: 0;
    width: 70%;  /* Assicura che la larghezza del menu occupi tutta la larghezza disponibile */
}

/* Stile per le voci di menu */
.barraCentrale a, .barraCentrale2 a {
    color: white;  /* Colore del testo bianco */
    font-size: 1.2em;  /* Puoi modificare la dimensione del testo */
    padding: 5px 10px;  /* Aggiungi padding per un po' di spazio attorno al testo */
    text-decoration: none;
}

/* Stile per i list items nel menu */
.barraCentrale li, .barraCentrale2 li {
    list-style: none;  /* Rimuove i puntini del list */
    margin: 1.5em 0;  /* Aggiungi margine sopra e sotto (20px) per separare le voci */


}



/*.search-container {
    display: none;
}*/


