.header-table { /*rendere il blocco flessibile per disporre gli elementi*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center
}

/* allineamento centrale del logo */
.logo-cell{
    flex: 80%;
    min-height: 1em;
    margin: 0em 1em
}    
/*gli altri td (class o id) dovrebbero essere display: none */


/* manca breadcrumb nell'html */
#breadcrumb[data-hambOn="false"] {
    border-radius: 10px;
    margin-right: .3em;
    margin-left: .3em
}



