:root {
    --bgcolor: #dddddd;
    --headerbgcolor: #1b2838;
    --textcolor: #000000;
    --linkcolor: #07026b;
    --linkvisited: #e87e04;
    --bandiera: #ff0000;
    --bgfooter: #aaaaaa;
    --linkvisitedFooter: #0606fb;
    --login-bgcolor: #1b2838; /* Sfondo della pagina di login uguale all'header */
    --login-box-bgcolor: #080c11; /* Colore di sfondo della scatola di login */
    --login-border: #ccc; /* Colore del bordo della scatola di login */
    --login-button-bg: #28a745; /* Colore di sfondo del pulsante di login */
}

a {
    color: var(--linkcolor);
}

a:visited {
    color: var(--linkvisited);
}

footer a:visited {
    color: var(--linkvisitedFooter);
}

/* Rimuove i margini e padding di default del body e di altri elementi */
body, html {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* Rimuove il margine di default */
    padding: 0; /* Rimuove il padding di default */
    height: 100%; /* Assicura che la pagina occupi tutta la schermata */
}

/* Contenitore dell'header */
header {
    background-color: var(--headerbgcolor); /* Colore di sfondo come Steam */
    font-size: 24px;
    margin: 0; /* Rimuove qualsiasi margine predefinito */
    padding: 0; /* Rimuove il padding sopra e ai lati */
    width: 100%;
}

/* Tabella per l'header */
.header-table {
    width: 100%;
    display: flex; /* Utilizzo di Flexbox per una distribuzione uniforme */
    justify-content: space-evenly; /* Equidistanza tra le voci */
    align-items: center; /* Centra verticalmente */
    padding: 0 20px; /* Distanza dai bordi laterali */
    border-collapse: collapse; /* Rimuove gli spazi tra le celle */
    text-transform: uppercase; /* Trasforma il testo in maiuscolo */
}

/* Cella della tabella (con padding tra le celle) */
.header-table td {
    padding: 10px 20px; /* Spaziatura tra le celle */
}

/* Logo */
.logo {
    width: 120px; /* Dimensione del logo */
    height: auto;
}

/* Stile per i link della navbar */
.header-table a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.header-table a:hover {
    color: var(--bandiera); /* Colore al passaggio del mouse (come il logo di Steam) */
}

/* Sezione per il navigatore della pagina corrente */
.current-page {
    background-color: #2d3b47; /* Colore di sfondo simile all'header */
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-align: center;
}

/* Barra di ricerca */
.search-container {
    display: flex;
    justify-content: center; /* Centra la barra di ricerca orizzontalmente */
    align-items: center; /* Centra la barra di ricerca verticalmente */
    margin: 10px 0;
}

.search-box {
    padding: 8px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 25px; /* Bordi stondati */
    font-size: 16px;
    margin-right: 10px; /* Distanza tra la barra di ricerca e il bottone */
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-icon {
    width: 25px; /* Dimensione dell'icona */
    height: 25px;
}

.search-icon:hover {
    content: url('../assets/search_red.png'); /* Sostituisce l'immagine con search_red.png al passaggio del mouse */
}

.library-search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 20px;
}

.library-search-box {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
}

.library-search-button {
    background-color: var(--headerbgcolor);
    border: none;
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.library-search-button img {
    width: 16px;
    height: 16px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 15px auto;
    max-width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    border: 3px solid #444;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.welcome-message {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1px;
    max-width: 600px;  /* Larghezza uguale alla .profile-container */
    margin-left: auto;
    margin-right: auto; /* Centra il testo sopra il box */
}

.profile-settings {
    text-align: center;
    margin-top: 20px;
}

.profile-settings a {
    font-size: 18px;
    font-weight: bold;
    color: var(--linkcolor);
    text-decoration: none;
}

.profile-settings a:hover {
    text-decoration: underline;
}

.profile-settings :visited
{
    color: var(--linkvisited)
}

.profile-form {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.profile-form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

.profile-form label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.profile-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.profile-form input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.profile-form button {
    width: 48%; /* Set width to 48% for both buttons */
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--headerbgcolor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.profile-form .button-container {
    display: flex;
    justify-content: space-between; /* Distribute buttons evenly */
}

.save-button {
    background-color: #28a745; /* Green for save */
}

.back-button {
    background-color: #dc3545; /* Red for cancel */
}

.back-button:hover {
    background-color: var(--bandiera);
}

.save-button:hover {
    background-color:#1c7731;
}

/* Styling della pagina di login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--login-bgcolor); /* Imposta lo sfondo della pagina di login */
    overflow-y: auto; /* Consente lo scorrimento verticale se il contenuto è troppo lungo */
}

/* Box di login */
.login-box {
    background-color: var(--login-box-bgcolor);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Imposta una larghezza massima per la scatola di login */
    text-align: center;
    max-height: 90vh; /* Impedisce al box di essere più alto di 90% della finestra */
    overflow-y: auto; /* Permette lo scorrimento verticale se necessario */
}

/* Logo nella schermata di login */
.login-logo {
    width: 160px;
    margin-bottom: 20px;
}

/* Messaggio di benvenuto */
.login-welcome-message {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

/* Stile per i campi di input */
.login-box input {
    width: 90%;
    padding: 15px;
    margin: 5px 0;
    border: 0px solid var(--login-border);
    border-radius: 5px;
    font-size: 16px;
}

/* Contenitore per i pulsanti */
.button-container {
    display: flex;
    justify-content: space-between; /* Distribuisce i pulsanti */
    margin-top: 40px;
    width: 100%; /* Assicura che la larghezza totale sia occupata dai due pulsanti */
    gap: 4%; /* Aggiunge uno spazio tra i due pulsanti */
}

/* Pulsante di login */
.login-button, .cancel-button {
    width: 48%; /* Aggiunge la stessa larghezza ai pulsanti */
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Pulsante di login */
.login-button {
    background-color: var(--login-button-bg);
    color: white;
}

.login-button:hover {
    background-color: #1c7731;
}

/* Pulsante di annullamento */
.cancel-button {
    background-color: #dc3545; /* Colore rosso */
    color: white;
}

.cancel-button:hover {
    background-color: #ab1d2b;
}



/* Footer */
footer {
    background-color: var(--bgfooter);
    color: var(--textcolor);
    padding: 20px 0;
    text-align: center;
    margin-top: 0; /* Rimuove lo spazio sopra il footer */
    width: 100%; /* Assicura che il footer occupi tutta la larghezza della pagina */
    position: relative; /* Mantiene il footer al di sotto del contenuto */
}

/* Tabella del footer */
.footer-table {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    border-collapse: collapse;
    text-transform: uppercase;
}

.footer-table td {
    padding: 10px 20px;
}

.footer-table a {
    text-decoration: none;
    font-weight: bold;
    color: var(--textcolor);
    font-size: 20px;
}

.footer-table a:hover {
    color: var(--bandiera); /* Colore al passaggio del mouse */
}

/* Assicura che il footer non spinga sotto la pagina */
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Imposta l'altezza della pagina */
}

main {
    flex: 1; /* Occupando lo spazio restante, assicura che il footer stia in fondo */
}




